[class*='fbv-'] {
  box-sizing: border-box;
}

.fbv-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.fbv-header {
  flex: 0 0 auto;
  position: relative;
}

.fbv-body-container {
  flex: 1 1 auto;
  position: relative;
}

.fbv-body {
  position: absolute;
  width: 100%;
  height: 100%;
}
