.fbv-container.t-default-light .fbv-text {
  color: #222;
}

.fbv-container.t-default-light .fbv-toolbar-container {
  background-color: #eee;
}

.fbv-container.t-default-light .fbv-toolbar-item {
  color: #666;
}

.fbv-container.t-default-light .fbv-toolbar-item:hover {
  color: #222;
}

.fbv-container.t-default-light .fbv-toolbar-item:disabled {
  color: #ccc;
}

.fbv-container.t-default-light .fbv-toolbar-item:disabled:hover {
  color: #ccc;
}

.fbv-container.t-default-light .fbv-item-row-container:hover {
  background-color: #ddd;
}

.fbv-container.t-default-light .fbv-item-row-container--active {
  background-color: #ccc;
}

.fbv-container.t-default-light .fbv-item-icon {
  color: #222;
}

.fbv-container.t-default-light .fbv-item-input {
  border-color: #999;
  background-color: #eee;
  color: #222;
}