.fbv-item-container {
  padding: 0;
}

.fbv-item-row-container {
  padding: 0 0.5rem;
}

.fbv-item-row {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  cursor: pointer;
}

.fbv-item-icon {
  flex: 0 0 auto;
  min-width: 1.25rem;
  padding-right: 0.5rem;
  font-size: 0.8rem;
}

.fbv-item-title {
  flex: 1 1 auto;
}

.fbv-item-children {

}